@model StudentViewModel

<h2 class="display-4" style="text-align: center">Edit Student Information</h2>

<div id="studentFormContainer" class="container my-3">
  <div class="row justify-content-center">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <div class="rounded-3 card">
        <div class="card-header text-center">
          <h4 class="my-2">Add New Student</h4>
        </div>

        <div class="card-body">
          <form method="post" action="/Student/EditStudentInfo">
            <div class="mb-3">
              <input type="hidden" name="StudentID" value="@Model.StudentID" />
            </div>
            <div class="mb-3">
              <label>First Name:</label>
              <input class="form-control" value="@Model.FirstName" type="text" name="FirstName" required />
            </div>
            <div class="mb-3">
              <label>Middle Name:</label>
              <input class="form-control" value="@Model.MiddleName" type="text" name="MiddleName" required />
            </div>
            <div class="mb-3">
              <label>Last Name:</label>
              <input class="form-control" value="@Model.LastName" type="text" name="LastName" required />
            </div>
            <div class="mb-3">
              <label>Course:</label>
              <input class="form-control" value="@Model.Course" type="text" name="Course" required />
            </div>
            <div class="mb-3">
              <label>Section:</label>
              <input class="form-control" value="@Model.Section" type="text" name="Section" required />
            </div>
            <div class="mb-3">
              <label>Email Address:</label>
              <input class="form-control" value="@Model.EmailAddress" type="email" name="EmailAddress" required />
            </div>
            <div class="mb-3">
              <label>Contact Number:</label>
              <input class="form-control" value="@Model.ContactNumber" type="text" name="ContactNumber" required />
            </div>
            <button type="submit" class="btn btn-success my-3 w-100">Save</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>