@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<style>
    #studentFormContainer {
        display: none;
    }
</style>

<div class="d-flex justify-content-between text-center">
    <h1>Students</h1>
    <button class="btn btn-primary" onClick="toggleForm()"><i class="fa fa-user-plus"></i></button>
</div>

<div id="studentFormContainer" class="container my-3">
    <div class="row justify-content-center">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="rounded-3 card">
                <div class="card-header text-center">
                    <h4 class="my-2">Add New Student</h4>
                </div>

                <div class="card-body">
                    <form method="post" action="/Student/SaveStudentInfo" enctype="multipart/form-data">
                        <div class="mb-3">
                            <label>First Name:</label>
                            <input class="form-control" type="text" name="FirstName" required />
                        </div>
                        <div class="mb-3">
                            <label>Middle Name:</label>
                            <input class="form-control" type="text" name="MiddleName" required />
                        </div>
                        <div class="mb-3">
                            <label>Last Name:</label>
                            <input class="form-control" type="text" name="LastName" required />
                        </div>
                        <div class="mb-3">
                            <label>Course:</label>
                            <input class="form-control" type="text" name="Course" required />
                        </div>
                        <div class="mb-3">
                            <label>Section:</label>
                            <input class="form-control" type="text" name="Section" required />
                        </div>
                        <div class="mb-3">
                            <label>Email Address:</label>
                            <input class="form-control" type="email" name="EmailAddress" required />
                        </div>
                        <div class="mb-3">
                            <label>Contact Number:</label>
                            <input class="form-control" type="text" name="ContactNumber" required />
                        </div>
                        <button type="submit" class="btn btn-success my-3 w-100">Save</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container my-3">
    <div class="table-responsive">
        <table class="table table-info">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Student ID</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">First Name</th>
                    <th scope="col">Middle Name</th>
                    <th scope="col">Course</th>
                    <th scope="col">Section</th>
                    <th scope="col">Email Address</th>
                    <th scope="col">Contact Number</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var student in Model.StudentsList)
                {
                    <tr>
                        <td scope="row">@student.StudentID</td>
                        <td>@student.FirstName</td>
                        <td>@student.MiddleName</td>
                        <td>@student.LastName</td>
                        <td>@student.Course</td>
                        <td>@student.Section</td>
                        <td>@student.EmailAddress</td>
                        <td>@student.ContactNumber</td>
                        <td>
                            <input type="hidden" name="studentId" value="@student.StudentID" />
                            <a class="btn btn-outline-warning" href="/Student/EditStudentInfo?studentId=@student.StudentID">
                                <i class="fa fa-pen"></i>
                            </a>
                            <a class="btn btn-outline-danger" href="/Student/DeleteStudentInfo?studentID=@student.StudentID">
                                <i class="fa fa-trash"></i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<script>
    function toggleForm() {
        var formContainer = document.querySelector('#studentFormContainer');
        const currentDisplay = window.getComputedStyle(formContainer).display;
        formContainer.style.display = currentDisplay === 'none' ? 'block' : 'none';
    }
</script>