<style>
    #roomFormContainer {
        display: none;
    }

    .card {
        padding: 25px;
        margin: 40px 0px;
        border-radius: 10px;
    }
</style>

<div class="d-flex justify-content-between text-center">
    <h1>Rooms</h1>
    <button class="btn btn-primary" onClick="toggleForm()"><i class="fa fa-user-plus"></i></button>
</div>

<div id="roomFormContainer" class="container my-3">
    <div class="row justify-content-center">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="rounded-3 card">
                <div class="card-header text-center">
                    <h4 class="my-2">Add New Room</h4>
                </div>
                <div class="card-body">
                    <form method="post" action="/Room/SaveRoomInfo">
                        <div class="mb-3">
                            <label>Room Name:</label>
                            <input class="form-control" type="text" name="RoomName" required />
                        </div>
                        <div class="mb-3">
                            <label>Floor:</label>
                            <input class="form-control" type="number" name="Floor" required />
                        </div>
                        <div class="mb-3">
                            <label>Building:</label>
                            <input class="form-control" type="text" name="Building" required />
                        </div>
                        <button type="submit" class="btn btn-success my-3 w-100">Save</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container my-3">
    <div class="table-responsive">
        <table class="table table-info p-3 table-striped table-hover">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Room ID</th>
                    <th scope="col">Room Name</th>
                    <th scope="col">Floor</th>
                    <th scope="col">Building</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var room in Model.RoomsList)
                {
                    <tr>
                        <td>@room.RoomID</td>
                        <td>@room.RoomName</td>
                        <td>@room.Floor</td>
                        <td>@room.Building</td>
                        <td>
                            <input type="hidden" name="roomId" value="@room.RoomID" />
                            <a class="btn btn-outline-warning"
                                href="/Room/EditRoomInfo?roomId=@room.RoomID">
                                <i class="fa fa-pen"></i>
                            </a>
                            <a class="btn btn-outline-danger"
                                href="/Room/DeleteRoomInfo?roomId=@room.RoomID">
                                <i class="fa fa-trash"></i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


<script>
    function toggleForm() {
        var formContainer = document.querySelector('#roomFormContainer');
        const currentDisplay = window.getComputedStyle(formContainer).display;
        formContainer.style.display = currentDisplay === 'none' ? 'block' : 'none';
    }
</script>