@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<style>
    #courseFormContainer {
        display: none;
    }
</style>

<div class="d-flex justify-content-between text-center">
    <h1>Courses</h1>
    <button class="btn btn-primary" onClick="toggleForm()"><i class="fa fa-user-plus"></i></button>
</div>

<div id="courseFormContainer" class="container my-3">
    <div class="row justify-content-center">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="rounded-3 card">
                <div class="card-header text-center">
                    <h4 class="my-2">Add New Course</h4>
                </div>
                <div class="card-body">
                    <form method="post" action="/Course/SaveCourseInfo">
                        <div class="mb-3">
                            <label>Course Name:</label>
                            <input class="form-control" type="text" name="CourseName" required />
                        </div>
                        <div class="mb-3">
                            <label>Course Department:</label>
                            <input class="form-control" type="text" name="CourseDepartment" required />
                        </div>
                        <button type="submit" class="btn btn-success my-3 w-100">Save</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<table class="table table-info">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Course ID</th>
            <th scope="col">Course Name</th>
            <th scope="col">Course Department</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var course in Model.CoursesList)
        {
            <tr>
                <td>@course.CourseID</td>
                <td>@course.CourseName</td>
                <td>@course.CourseDuration</td>
                <td>@course.CourseDepartment</td>
                <td>
                    <input type="hidden" name="courseId" value="@course.CourseID" />
                    <a class="btn btn-outline-warning" href="/Course/EditCourseInfo?courseId=@course.CourseID">
                        <i class="fa fa-pen"></i>
                    </a>
                    <a class="btn btn-outline-danger" href="/Course/DeleteCourseInfo?courseId=@course.CourseID">
                        <i class="fa fa-trash"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>


<script>
    function toggleForm() {
        var formContainer = document.querySelector('#courseFormContainer');
        const currentDisplay = window.getComputedStyle(formContainer).display;
        formContainer.style.display = currentDisplay === 'none' ? 'block' : 'none';
    }
</script>